server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true


JWT_ACCESS_COOKIE_NAME: access_token
JWT_REFRESH_COOKIE_NAME: refresh_token
JWT_ACCESS_TOKEN_DURATION_MINUTE: 30
JWT_ACCESS_TOKEN_DURATION_SECOND: 1800
JWT_REFRESH_TOKEN_DURATION_DAY: 7
JWT_REFRESH_TOKEN_DURATION_SECOND: 604800

jwt:
  secret: "ThisIsASecretKeyThatMustBeAtLeast32BytesLongAndSecure!"

spring:
  web:
    resources:
      static-locations: classpath:/static/
  datasource:
    url: jdbc:postgresql://localhost:5432/demo_db
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    org.springframework.boot: DEBUG
    org.springframework.security: DEBUG
    org.hibernate: ERROR

file:
  upload:
    dir: ./uploads

telegram:
  bot:
    token: 7086387646:AAFKQENbhawf4ULxC74zHj4ZsvixvbgB0CY
  chat:
    id: "1802642059"  